@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&display=swap");

body {
  background-color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  font-family: "Bitter", serif;
  background-image: url("https://source.unsplash.com/1600x900/?landscape");
  background-size: cover;
}

.container {
  width: 600px;
  height: 300px;
  padding: 30px;
  background-color: rgb(147, 147, 223);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(29, 29, 29, 0.773);
  color: white;
  backdrop-filter: blur(2.5px);
}

.weather-content {
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.middle-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bottom-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#form {
  height: 40px;
  display: flex;
}

#search-btn {
  height: 40px;
  width: 40px;
  font-size: 22px;
  border-radius: 0 5px 5px 0;
  background-color: #67e8f9;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
}

#search-btn:hover {
  cursor: pointer;
  background-color: #4a7deb;
}

input {
  width: 100%;
  padding-left: 15px;
  font-size: 22px;
  border-radius: 5px 0 0 5px;
  border: none;
  background-color: #c1e2e7;
}

input::placeholder {
  color: rgba(5, 7, 38, 0.565);
}

input:focus {
  outline: none;
}

h1 {
  margin: 5px;
  font-size: 40px;
  color: yellow;
}

h2 {
  font-size: 32px;
  color: rgb(227, 246, 227);
  padding: 10px;
  margin: 0;
}
h3 {
  margin-top: 15px;
}

img {
  height: 42px;
  width: 42px;
}

#toggle-unit {
  width: fit-content;
  height: fit-content;
  padding: 5px 15px;
  font-size: 22px;
  border-radius: 30px;
  border: none;
}
#toggle-unit:hover {
  background-color: rgb(151, 245, 0);
  color: black;
}
